@using Entity.Concrete
@model Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1 class="text-center">Kategori Güncelleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.CategoryID, new { @class = "form-control" })

            @Html.Label("Kategori Adı:")
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br />
            <br />
            @Html.Label("Kategori Açıklama:")
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br />
            <br />
            @Html.Label("Status:")
            @Html.CheckBoxFor(x => x.CategoryStatus, new { @class = "form-control" })
            <br />
            <button class="btn btn-primary">Güncelle</button>
        </div>
    }
</div>

