@using Entity.Concrete
@model Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1 class="text-center">Yeni Kategori Ekleme Sayfası</h1>
    <br />
    @using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Admin Kullanıcı Adı:")
            @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AdminUserName)
            <br />
            <br />
            @Html.Label("Şifre:")
            @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AdminPassword)
            <br />
            <br />
            @Html.Label("Rolü Seçiniz:")
            @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AdminRole)
            <br />
            <br />
            <button class="btn btn-primary">Kaydet</button>
        </div>
    }
</div>


